* {
    font-family: 'Inter';
    margin: 0px;
}
header{
    background-image: url(/images/donation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 400px;  
    text-align: center;
    padding: 100px 220px;

}
.header-title{
    color: white;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 20px;
}
.header-description{
    color: #FFFFFF;
    margin-bottom: 30px;
}
.btn-primary{
    background-color: #FF5959;
    color: white;
    padding: 16px 20px;
    border-radius: 5px;
    border-style: none;
    font-weight: 600;
    font-size: 16px;
}

